.dashboard {
    width: 100%;
    text-align: center;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-button {
    margin: 15px;
    background: grey;
    border: none;
    height: 50px;
    width: 300px;
}
.nav-button:hover {
    background: #676767;
}