.SideNavContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: grey;
    justify-content: space-around;
    overflow: auto;
}
a {
    background: lightgrey;
    height: 100%;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 1px;
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 300ms ease-in, color 300ms ease-in;
    min-height: 40px;
}
a.active {
    color: #42b983;
}
a:hover {
    background: #7d7d7d;
    color: lightgrey;
}